JavaClient/src/main/resources/create-post-response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="nid"/>
        <xs:element type="xs:anyURI" name="uri"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>